interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/players/%239G9JL8QU/battlelog
  response:
    body:
      string: "[{\"type\":\"riverRacePvP\",\"battleTime\":\"20260131T172031.000Z\",\"isLadderTournament\":false,\"arena\":{\"id\":54000023,\"name\":\"Touchdown
        Arena\",\"rawName\":\"Arena_TouchdownTest\"},\"gameMode\":{\"id\":72000321,\"name\":\"Touchdown_ClanWar\"},\"deckSelection\":\"collection\",\"team\":[{\"tag\":\"#9G9JL8QU\",\"name\":\"Paye
        ta miche\",\"startingTrophies\":10569,\"crowns\":3,\"kingTowerHitPoints\":0,\"princessTowersHitPoints\":null,\"clan\":{\"tag\":\"#2Q8CCP0\",\"name\":\"Adultes
        Clasher\",\"badgeId\":16000078},\"cards\":[{\"name\":\"Cannon\",\"id\":27000000,\"level\":13,\"evolutionLevel\":1,\"maxLevel\":16,\"maxEvolutionLevel\":1,\"rarity\":\"common\",\"elixirCost\":3,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/nZK1y-beLxO5vnlyUhK6-2zH2NzXJwqykcosqQ1cmZ8.png\",\"evolutionMedium\":\"https://api-assets.clashroyale.com/cardevolutions/300/nZK1y-beLxO5vnlyUhK6-2zH2NzXJwqykcosqQ1cmZ8.png\"}},{\"name\":\"Royal
        Ghost\",\"id\":26000050,\"level\":6,\"evolutionLevel\":1,\"maxLevel\":8,\"maxEvolutionLevel\":1,\"rarity\":\"legendary\",\"elixirCost\":3,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/3En2cz0ISQAaMTHY3hj3rTveFN2kJYq-H4VxvdJNvCM.png\",\"evolutionMedium\":\"https://api-assets.clashroyale.com/cardevolutions/300/3En2cz0ISQAaMTHY3hj3rTveFN2kJYq-H4VxvdJNvCM.png\"}},{\"name\":\"Royal
        Hogs\",\"id\":26000059,\"level\":12,\"maxLevel\":14,\"maxEvolutionLevel\":1,\"rarity\":\"rare\",\"elixirCost\":5,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/ASSQJG_MoVq9e81HZzo4bynMnyLNpNJMfSLb3hqydOw.png\",\"evolutionMedium\":\"https://api-assets.clashroyale.com/cardevolutions/300/ASSQJG_MoVq9e81HZzo4bynMnyLNpNJMfSLb3hqydOw.png\"}},{\"name\":\"Hog
        Rider\",\"id\":26000021,\"level\":12,\"maxLevel\":14,\"rarity\":\"rare\",\"elixirCost\":4,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/Ubu0oUl8tZkusnkZf8Xv9Vno5IO29Y-jbZ4fhoNJ5oc.png\"}},{\"name\":\"Tombstone\",\"id\":27000009,\"level\":11,\"maxLevel\":14,\"rarity\":\"rare\",\"elixirCost\":3,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/LjSfSbwQfkZuRJY4pVxKspZ-a0iM5KAhU8w-a_N5Z7Y.png\"}},{\"name\":\"Minions\",\"id\":26000005,\"level\":15,\"starLevel\":2,\"maxLevel\":16,\"rarity\":\"common\",\"elixirCost\":3,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/yHGpoEnmUWPGV_hBbhn-Kk-Bs838OjGzWzJJlQpQKQA.png\"}},{\"name\":\"Spear
        Goblins\",\"id\":26000019,\"level\":14,\"starLevel\":3,\"maxLevel\":16,\"rarity\":\"common\",\"elixirCost\":2,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/FSDFotjaXidI4ku_WFpVCTWS1hKGnFh1sxX0lxM43_E.png\"}},{\"name\":\"The
        Log\",\"id\":28000011,\"level\":6,\"starLevel\":1,\"maxLevel\":8,\"rarity\":\"legendary\",\"elixirCost\":2,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/_iDwuDLexHPFZ_x4_a0eP-rxCS6vwWgTs6DLauwwoaY.png\"}}],\"supportCards\":[],\"globalRank\":null,\"elixirLeaked\":0.0}],\"opponent\":[{\"tag\":\"#99JRRVPLQ\",\"name\":\"\u042E\u043D\u0437\u0430\u0439\",\"startingTrophies\":10966,\"crowns\":0,\"kingTowerHitPoints\":0,\"princessTowersHitPoints\":null,\"clan\":{\"tag\":\"#P9U8CQG8\",\"name\":\"DemonWars\",\"badgeId\":16000042},\"cards\":[{\"name\":\"Firecracker\",\"id\":26000064,\"level\":16,\"starLevel\":1,\"evolutionLevel\":1,\"maxLevel\":16,\"maxEvolutionLevel\":1,\"rarity\":\"common\",\"elixirCost\":3,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/c1[...]
