interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans?name=Reddit&limit=5
  response:
    body:
      string: '{"items":[{"tag":"#V0JGPG2","name":"Reddit","type":"inviteOnly","badgeId":16000020,"clanScore":105129,"clanWarTrophies":2046,"location":{"id":57000006,"name":"International","isCountry":false},"requiredTrophies":4300,"donationsPerWeek":6560,"clanChestLevel":1,"clanChestMaxLevel":0,"members":42},{"tag":"#LJ9L2JPV","name":"Reddit","type":"closed","badgeId":16000167,"clanScore":37380,"clanWarTrophies":150,"location":{"id":57000249,"name":"United
        States","isCountry":true,"countryCode":"US"},"requiredTrophies":0,"donationsPerWeek":0,"clanChestLevel":1,"clanChestMaxLevel":0,"members":14},{"tag":"#P2PYYJY","name":"Reddit","type":"open","badgeId":16000128,"clanScore":102655,"clanWarTrophies":1608,"location":{"id":57000001,"name":"North
        America","isCountry":false},"requiredTrophies":6000,"donationsPerWeek":3532,"clanChestLevel":1,"clanChestMaxLevel":0,"members":45},{"tag":"#9VV89GP","name":"Reddit","type":"open","badgeId":16000019,"clanScore":94326,"clanWarTrophies":1860,"location":{"id":57000006,"name":"International","isCountry":false},"requiredTrophies":0,"donationsPerWeek":2289,"clanChestLevel":1,"clanChestMaxLevel":0,"members":42},{"tag":"#QGG92QG0","name":"Reddit","type":"open","badgeId":16000058,"clanScore":17515,"clanWarTrophies":963,"location":{"id":57000038,"name":"Brazil","isCountry":true,"countryCode":"BR"},"requiredTrophies":5000,"donationsPerWeek":0,"clanChestLevel":1,"clanChestMaxLevel":0,"members":5}],"paging":{"cursors":{"after":"eyJwb3MiOjV9"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans?name=Legend&minMembers=40&limit=5
  response:
    body:
      string: '{"items":[{"tag":"#G9RRYRQC","name":"Legend","type":"open","badgeId":16000163,"clanScore":94948,"clanWarTrophies":1699,"location":{"id":57000204,"name":"Saudi
        Arabia","isCountry":true,"countryCode":"SA"},"requiredTrophies":6000,"donationsPerWeek":5716,"clanChestLevel":1,"clanChe[...]
