interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans/%232Q8CCP0/currentriverrace
  response:
    body:
      string: "{\"state\":\"full\",\"clan\":{\"tag\":\"#2Q8CCP0\",\"name\":\"Adultes
        Clasher\",\"badgeId\":16000078,\"fame\":82500,\"repairPoints\":0,\"participants\":[{\"tag\":\"#JVGCVGJU\",\"name\":\"King
        Lothbrok\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#PYGC9VU8U\",\"name\":\"Dinosaurio\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#V8RVYQR8G\",\"name\":\"Gas\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#J08VCC82\",\"name\":\"lucelwing\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#2Y0ULPPUR\",\"name\":\"XenuS\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\"[...]
