interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/global/seasonsV2
  response:
    body:
      string: '{"items":[{"code":"2016-02","uniqueId":"1","endTime":"20160215T050000.000Z"},{"code":"2016-02","uniqueId":"2","endTime":"20160229T050000.000Z"},{"code":"2016-03","uniqueId":"3","endTime":"20160314T050000.000Z"},{"code":"2016-03","uniqueId":"4","endTime":"20160328T050000.000Z"},{"code":"2016-04","uniqueId":"5","endTime":"20160411T050000.000Z"},{"code":"2016-04","uniqueId":"6","endTime":"20160425T050000.000Z"},{"code":"2016-05","uniqueId":"7","endTime":"20160509T050000.000Z"},{"code":"2016-05","uniqueId":"8","endTime":"20160523T050000.000Z"},{"code"[...]
