interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/57000000/rankings/clans?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#2LJG2QY\",\"name\":\"CLAN OF CLASHES\",\"rank\":1,\"previousRank\":1,\"location\":{\"id\":57000000,\"name\":\"Europe\",\"isCountry\":false},\"clanScore\":117795,\"members\":50,\"badgeId\":16000146},{\"tag\":\"#QLCPU0JU\",\"name\":\"joblife\",\"rank\":2,\"previousRank\":2,\"location\":{\"id\":57000000,\"name\":\"Europe\",\"isCountry\":false},\"clanScore\":117682,\"members\":50,\"badgeId\":16000177},{\"tag\":\"#G9LVUL0L\",\"name\":\"Solyn\",\"rank\":3,\"previousRank\":5,\"location\":{\"id\":57000000,\"name\":\"Europe\",\"isCountry\":false},\"clanScore\":117015,\"members\":49,\"badgeId\":16000128},{\"tag\":\"#9V2CLRCY\",\"name\":\"No
        clan war\",\"rank\":4,\"previousRank\":3,[...]
