interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/57000094/pathoflegend/players?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#UJU9UUJLC\",\"name\":\"Sosaa\u2728shiimy\u2019\u5B99\u65AF\",\"expLevel\":63,\"eloRating\":3322,\"rank\":1,\"clan\":{\"tag\":\"#GGCU2Y8R\",\"name\":\"Unidos
        On Fire\",\"badgeId\":16000064}},{\"tag\":\"#J0VU9CGP\",\"name\":\"Dominik\",\"expLevel\":80,\"eloRating\":3314,\"rank\":2,\"clan\":{\"tag\":\"#Q9QPPGGG\",\"name\":\"NoA\",\"badgeId\":16000009}},{\"tag\":\"#UC0QJ2CU9\",\"name\":\"XCOM\u2764\uFE0FHypno\",\"expLevel\":70,\"eloRating\":3238,\"rank\":3,\"clan\":{\"tag\":\"#GRYGUG9V\",\"name\":\"YT
        : Hypno Cr\",\"badgeId\":16000052}},{\"tag\":\"#L8999VJC\",\"name\":\"CODE:
        Hypno\",\"expLevel\":80,\"eloRating\":3223,\"rank\":4},{\"tag\":\"#VLL8YQC9G\",\"nam[...]
