interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans/%232Q8CCP0/members?limit=5
  response:
    body:
      string: '{"items":[{"tag":"#99Q9GJPRQ","name":"Blow","role":"elder","lastSeen":"20260131T140706.000Z","expLevel":73,"trophies":12000,"arena":{"id":54000132,"name":"Summit
        of Heroes","rawName":"Arena_L14"},"clanRank":1,"previousClanRank":1,"donations":1086,"donationsReceived":520,"clanChestPoints":0},{"tag":"#8LVYJVV2","name":"Adrien","role":"elder","lastSeen":"20260131T181725.000Z","expLevel":68,"trophies":11792,"arena":{"id":54000132,"name":"Summit
        of Heroes","rawName":"Arena_L14"},"clanRank":2,"previousClanRank":2,"donations":510,"donationsReceived":610,"clanChestPoints":0},{"tag":"#2G0Y8Y9CP","name":"Tangoledozo","role":"elder","lastSeen":"20260131T163526.000Z","expLevel":61,"trophies":11677,"arena":{"id":54000132,"name":"Summit
        of Heroes","rawName":"Arena_L14"},"clanRank":3,"previousClanRank":4,"donations":36,"donationsReceived":400,"clanChestPoints":0},{"tag":"#80U8V2L9U","name":"wal","role":"elder","lastSeen":"20260131T151515.000Z","expLevel":75,"trophies":11661,"arena":{"id":54000132,"name":"Summit
        of Heroes","rawName":"Arena_L14"},"clanRank":4,"previousClanRank":3,"donations":560,"donationsReceived":320,"clanChestPoints":0},{"tag":"#PJRR8CLQL","name":"niro","role":"coLeader","lastSeen":"20260131T110433.000Z","expLevel":78,"trophies":11652,"arena":{"id":54000132,"name":"Summit
        of Heroes","rawName":"Arena_L14"},"clanRank":5,"previousClanRank":5,"donations":372,"donationsReceived":360,"clanChestPoints":0}],"paging":{"cursors":{"after":"eyJwb3MiOjV9"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
