interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans?name=Legend&minMembers=40&limit=5
  response:
    body:
      string: '{"items":[{"tag":"#G9RRYRQC","name":"Legend","type":"open","badgeId":16000163,"clanScore":94948,"clanWarTrophies":1699,"location":{"id":57000204,"name":"Saudi
        Arabia","isCountry":true,"countryCode":"SA"},"requiredTrophies":6000,"donationsPerWeek":5716,"clanChestLevel":1,"clanChestMaxLevel":0,"members":44},{"tag":"#8L8G0JUR","name":"legend","type":"open","badgeId":16000122,"clanScore":85563,"clanWarTrophies":1494,"location":{"id":57000017,"name":"Argentina","isCountry":true,"countryCode":"AR"},"requiredTrophies":3300,"donationsPerWeek":3504,"clanChestLevel":1,"clanChestMaxLevel":0,"members":47},{"tag":"#2GV8UGYP","name":"Legend","type":"open","badgeId":16000010,"clanScore":103202,"clanWarTrophies":2207,"location":{"id":57000047,"name":"Canada","isCountry":true,"countryCode":"CA"},"requiredTrophies":7000,"donationsPerWeek":4197,"clanChestLevel":1,"clanChestMaxLevel":0,"members":47},{"tag":"#GPCC8VRP","name":"Legend","type":"open","badgeId":16000003,"clanScore":108922,"clanWarTrophies":2547,"location":{"id":57000249,"name":"United
        States","isCountry":true,"countryCode":"US"},"requiredTrophies":8000,"donationsPerWeek":8172,"clanChestLevel":1,"clanChestMaxLevel":0,"members":50},{"tag":"#QJ8PVQYU","name":"Legend","type":"open","badgeId":16000014,"clanScore":95934,"clanWarTrophies":2103,"location":{"id":57000120,"name":"Italy","isCountry":true,"countryCode":"IT"},"requiredTrophies":5000,"donationsPerWeek":4732,"clanChestLevel":1,"clanChestMaxLevel":0,"members":50}],"paging":{"cursors":{"after":"eyJwb3MiOjV9"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
