interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/players/%239G9JL8QU
  response:
    body:
      string: '{"tag":"#9G9JL8QU","name":"Paye ta miche","expLevel":60,"trophies":10569,"bestTrophies":10678,"wins":2961,"losses":2526,"battleCount":5487,"threeCrownWins":1188,"challengeCardsWon":2131,"challengeMaxWins":11,"tournamentCardsWon":10,"tournamentBattleCount":18,"role":"coLeader","donations":356,"donationsReceived":360,"totalDonations":40210,"warDayWins":0,"clanCardsCollected":230,"clan":{"tag":"#2Q8CCP0","name":"Adultes
        Clasher","badgeId":16000078},"arena":{"id":54000130,"name":"Royal Road","rawName":"Arena_L12"},"leagueStatistics":{"currentSeason":{"trophies":10569,"bestTrophies":5008},"previousSeason":{"id":"2025-12","trophies":5058,"bestTrophies":5078},"bestSeason":{"id":"2021-11","trophies":5202}},"badges":[{"name":"YearsPlayed","level":9,"maxLevel":9,"progress":3618,"iconUrls":{"large":"https://api-assets.clashroyale.com/playerbadges/512/3TeHoCb_VUTGDRtC3j5H-wn6e_ROJ1rhOe5w-fZzqIM.png"}},{"name":"BattleWins","level":6,"maxLevel":8,"progress":2961,"target":5000,"iconUrls":{"large":"https://api-assets.clashroyale.com/playerbadges/512/Hh18NG8LhvwZrcmtGR8rSKRezmhOxCilxqhroDLBnys.png"}},{"name":"MasteryAssassin","level":1,"maxLevel":10,"progress":1,"target":2,"iconUrls":{"large":"https://api-assets.clashroyale.com/playerbadges/512/rajFTEGOR0OxDRvAQhTG7Mx62iV9ZZsqr-pGB0BNCdM.png"}},{"name":"MasteryFireball","level":5,"maxLevel":10,"progress":5,"target":6,"iconUrls":{"large":"https://api-assets.clashroyale.com/playerbadges/512/bb58MzTok_JNba9vAJPR4HX6r8[...]
