interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans?name=Legend&minMembers=40&limit=5
  response:
    body:
      string: '{"items":[{"tag":"#2GV8UGYP","name":"Legend","type":"open","badgeId":16000010,"clanScore":101363,"clanWarTrophies":2107,"location":{"id":57000047,"name":"Canada","isCountry":true,"countryCode":"CA"},"requiredTrophies":7000,"donationsPerWeek":3156,"clanChestLevel":1,"clanChestMaxLevel":0,"members":42},{"tag":"#8L8G0JUR","name":"legend","type":"open","badgeId":16000122,"clanScore":87382,"clanWarTrophies":1594,"location":{"id":57000017,"name":"Argentina","isCountry":true,"countryCode":"AR"},"requiredTrophies":3300,"donationsPerWeek":2384,"clanChestLevel":1,"clanChestMaxLevel":0,"members":49},{"tag":"#L2QY0Q8P","name":"Legend","type":"open","badgeId":16000146,"clanScore":110381,"clanWarTrophies":2145,"location":{"id":57000003,"name":"Asia","isCountry":false},"requiredTrophies":9000,"donationsPerWeek":5497,"clanChestLevel":1,"clanChestMaxLevel":0,"members":50},{"tag":"#20RUVCL","name":"LEGEND","type":"open","badgeId":16000142,"clanScore":106915,"clanWarTrophies":1725,"location":{"id":57000001,"name":"North
        America","isCountry":false},"requiredTrophies":8000,"donationsPerWeek":3348,"clanChestLevel":1,"clanChestMaxLevel":0,"members":41},{"tag":"#GPCC8VRP","name":"Legend","type":"open","badgeId":16000003,"clanScore":107676,"clanWarTrophies":2497,"location":{"id":57000249,"name":"United
        States","isCountry":true,"countryCode":"US"},"requiredTrophies":8000,"donationsPerWeek":7298,"clanChestLevel":1,"clanChestMaxLevel":0,"members":44}],"paging":{"cursors":{"after":"eyJwb3MiOjV9"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
