interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans/%232Q8CCP0/members?limit=5
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#99Q9GJPRQ\",\"name\":\"Blow\",\"role\":\"elder\",\"lastSeen\":\"20260206T185616.000Z\",\"expLevel\":73,\"trophies\":12000,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":1,\"previousClanRank\":1,\"donations\":1027,\"donationsReceived\":520,\"clanChestPoints\":0},{\"tag\":\"#2P9CCRVJ9\",\"name\":\"gros
        barry\",\"role\":\"member\",\"lastSeen\":\"20260206T105258.000Z\",\"expLevel\":69,\"trophies\":12000,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":2,\"previousClanRank\":2,\"donations\":188,\"donationsReceived\":240,\"clanChestPoints\":0},{\"tag\":\"#8LVYJVV2\",\"name\":\"Adrien\",\"role\":\"elder\",\"lastSeen\":\"20260206T180743.000Z\",\"expLevel\":70,\"trophies\":11918,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":3,\"previousClanRank\":3,\"donations\":442,\"donationsReceived\":520,\"clanChestPoints\":0},{\"tag\":\"#GR2PPPQQ0\",\"name\":\"Rio\u2620\uFE0F\",\"role\":\"member\",\"lastSeen\":\"20260205T210714.000Z\",\"expLevel\":73,\"trophies\":11787,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":4,\"previousClanRank\":5,\"donations\":45,\"donationsReceived\":80,\"clanChestPoints\":0},{\"tag\":\"#80U8V2L9U\",\"name\":\"wal\",\"role\":\"elder\",\"lastSeen\":\"20260206T165123.000Z\",\"expLevel\":76,\"trophies\":11786,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":5,\"previousClanRank\":4,\"donations\":411,\"donationsReceived\":392,\"clanChestPoints\":0}],\"paging\":{\"cursors\":{\"after\":\"eyJwb3MiOjV9\"}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
