interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans/%232Q8CCP0/members?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#99Q9GJPRQ\",\"name\":\"Blow\",\"role\":\"elder\",\"lastSeen\":\"20260206T202518.000Z\",\"expLevel\":73,\"trophies\":12000,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":1,\"previousClanRank\":2,\"donations\":1045,\"donationsReceived\":520,\"clanChestPoints\":0},{\"tag\":\"#2P9CCRVJ9\",\"name\":\"gros
        barry\",\"role\":\"member\",\"lastSeen\":\"20260206T105258.000Z\",\"expLevel\":69,\"trophies\":12000,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":2,\"previousClanRank\":1,\"donations\":188,\"donationsReceived\":240,\"clanChestPoints\":0},{\"tag\":\"#8LVYJVV2\",\"name\":\"Adrien\",\"role\":\"elder\",\"lastSeen\":\"20260206T194217.000Z\",\"expLevel\":70,\"trophies\":11859,\"arena\":{\"id\[...]
