interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans/%232Q8CCP0/currentriverrace
  response:
    body:
      string: "{\"state\":\"full\",\"clan\":{\"tag\":\"#2Q8CCP0\",\"name\":\"Adultes
        Clasher\",\"badgeId\":16000078,\"fame\":1435,\"repairPoints\":0,\"participants\":[{\"tag\":\"#QQP8GQU0C\",\"name\":\"FRL_Noa\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#GPY9GYR8C\",\"name\":\"saad
        93\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#YLGJ2PPL9\",\"name\":\"nico\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#YV8CGLJL\",\"name\":\"Woof-Woofie\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#J80L2U2QL\",\"name\":\"Benj\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"deck[...]
