interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/players/%239G9JL8QU/battlelog
  response:
    body:
      string: "[{\"type\":\"PvP\",\"battleTime\":\"20260206T180404.000Z\",\"isLadderTournament\":false,\"arena\":{\"id\":54000130,\"name\":\"Royal
        Road\",\"rawName\":\"Arena_L12\"},\"gameMode\":{\"id\":72000006,\"name\":\"Ladder\"},\"deckSelection\":\"collection\",\"team\":[{\"tag\":\"#9G9JL8QU\",\"name\":\"Paye
        ta miche\",\"startingTrophies\":10641,\"trophyChange\":30,\"crowns\":1,\"kingTowerHitPoints\":6765,\"princessTowersHitPoints\":[3173,564],\"clan\":{\"tag\":\"#2Q8CCP0\",\"name\":\"Adultes
        Clasher\",\"badgeId\":16000078},\"cards\":[{\"name\":\"Royal Giant\",\"id\":26000024,\"level\":16,\"evolutionLevel\":1,\"maxLevel\":16,\"maxEvolutionLevel\":1,\"rarity\":\"common\",\"elixirCost\":6,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/mnlRaNtmfpQx2e6mp70sLd0ND-pKPF70Cf87_agEKg4.png\",\"evolutionMedium\":\"https://api-assets.clashroyale.com/cardevolutions/300/mnlRaNtmfpQx2e6mp70sLd0ND-pKPF70Cf87_agEKg4.png\"}},{\"name\":\"Royal
        Ghost\",\"id\":26000050,\"level\":7,\"evolutionLevel\":1,\"maxLevel\":8,\"maxEvolutionLevel\":1,\"rarity\":\"legendary\",\"elixirCost\":3,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/3En2cz0ISQAaMTHY3hj3rTveFN2kJYq-H4VxvdJNvCM.png\",\"evolutionMedium\":\"https://api-assets.clashroyale.com/cardevolutions/300/3En2cz0ISQAaMTHY3hj3rTveFN2kJYq-H4VxvdJNvCM.png\"}},{\"name\":\"Goblins\",\"id\":26000002,\"level\":15,\"evolutionLevel\":2,\"maxLevel\":16,\"maxEvolutionLevel\":2,\"rarity\":\"common\",\"elixirCost\":2,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/X_DQUye_OaS3QN6VC9CPw05Fit7wvSm3XegXIXKP--0.png\",\"heroMedium\":\"https://api-assets.clashroyale.com/cardheroes/300/X_DQUye_OaS3QN6VC9CPw05Fit7wvSm3XegXIXKP--0.png\"}},{\"name\":\"Hunter\",\"id\":26000044,\"level\":10,\"maxLevel\":11,\"maxEvolutionLevel\":1,\"rarity\":\"epic\",\"elixirCost\":4,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/VNabB1WKnYtYRSG7X_FZfnZjQDHTBs9A96OGMFmecrA.png\",\"evolutionMedium\":\"https://api-assets.clashroyale.com/cardevolutions/300/VNabB1WKnYtYRSG7X_FZfnZjQDHTBs9A96OGMFmecrA.png\"}},{\"name\":\"Fireball\",\"id\":28000000,\"level\":13,\"maxLevel\":14,\"rarity\":\"rare\",\"elixirCost\":4,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/lZD9MILQv7O-P3XBr_xOLS5idwuz3_7Ws9G60U36yhc.png\"}},{\"name\":\"Fisherman\",\"id\":26000061,\"level\":6,\"maxLevel\":8,\"rarity\":\"legendary\",\"elixirCost\":3,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/U2KZ3g0wyufcuA5P2Xrn3Z3lr1WiJmc5S0IWOZHgizQ.png\"}},{\"name\":\"Electro
        Spirit\",\"id\":26000084,\"level\":15,\"maxLevel\":16,\"rarity\":\"common\",\"elixirCost\":1,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/WKd4-IAFsgPpMo7dDi9sujmYjRhOMEWiE07OUJpvD9g.png\"}},{\"name\":\"The
        Log\",\"id\":28000011,\"level\":6,\"starLevel\":1,\"maxLevel\":8,\"rarity\":\"legendary\",\"elixirCost\":2,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/_iDwuDLexHPFZ_x4_a0eP-rxCS6vwWgTs6DLauwwoaY.png\"}}],\"supportCards\":[{\"name\":\"Tower
        Princess\",\"id\":159000000,\"level\":15,\"maxLevel\":16,\"rarity\":\"common\",\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/Nzo5Gjbh7NG6O3Hyu7ev54Pu5zK7vDMR2fbpGdVsS64.png\"}}],\"globalRank\":null,\"elixirLeaked\":1.71}],\"opponent\":[{\"tag\":\"#VG2GL8UVV\",\"name\":\"RAnGer79\u2654\",\"startingTrophies\":10641,\"trophyChange\":-30,\"crowns\":0,\"kingTowerHitPoints\":3508,\"princessTowersHitPoints\":[1117],\"cards\":[{\"name\":\"Electro
        Dragon\",\"id\":26000063,\"level\":10,\"evolutionLevel\":1,\"maxLevel\":11,\"maxEvolutionLevel\":1,\"rarity\":\"epic\",\"elixirCost\":5,\"iconUrls\":{\"medium\":\"https://api-assets.clashroyale.com/cards/300/tN9h6lnMNPCNsx0LMFmvpHgznbDZ1fBRkx-C7UfNmfY.png\",\"evolutionMedium\":\"http[...]
