interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/tournaments?name=Test&limit=5
  response:
    body:
      string: '{"items":[{"tag":"#2G92R98P","type":"passwordProtected","status":"inProgress","creatorTag":"#2YL082VPP","name":"Test","levelCap":11,"firstPlaceCardPrize":0,"capacity":2,"maxCapacity":100,"preparationDuration":3600,"duration":14400,"createdTime":"20260206T182815.000Z","gameMode":{"id":72000009}}],"paging":{"cursors":{}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
