interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans/%232Q8CCP0
  response:
    body:
      string: "{\"tag\":\"#2Q8CCP0\",\"name\":\"Adultes Clasher\",\"type\":\"open\",\"description\":\"Recherche
        joueur actif en GDC \u2694\uFE0F16/16\u2694\uFE0F \U0001F3C6TOP \U0001F1EB\U0001F1F7
        209\U0001F3C6\",\"badgeId\":16000078,\"clanScore\":114980,\"clanWarTrophies\":4012,\"location\":{\"id\":57000087,\"name\":\"France\",\"isCountry\":true,\"countryCode\":\"FR\"},\"requiredTrophies\":10000,\"donationsPerWeek\":13602,\"clanChestStatus\":\"inactive\",\"clanChestLevel\":1,\"clanChestMaxLevel\":0,\"members\":50,\"memberList\":[{\"tag\":\"#99Q9GJPRQ\",\"name\":\"Blow\",\"role\":\"elder\",\"lastSeen\":\"20260206T202518.000Z\",\"expLevel\":73,\"trophies\":12000,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":1,\"previousClanRank\":2,\"donations\":1045,\"donationsReceived\":520,\"clanChestPoints\":0},{\"tag\":\"#2P9CCRVJ9\",\"name\":\"gros
        barry\",\"role\":\"member\",\"lastSeen\":\"20260206T105258.000Z\",\"expLevel\":69,\"trophies\":12000,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":2,\"previousClanRank\":1,\"donations\":188,\"donationsReceived\":240,\"clanChestPoints\":0},{\"tag\":\"#8LVYJVV2\",\"name\":\"Adrien\",\"role\":\"elder\",\"lastSeen\":\"20260206T194217.000Z\",\"expLevel\":70,\"trophies\":11859,\"arena\":{\"id\[...]
