interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/57000249/rankings/clanwars?limit=10
  response:
    body:
      string: '{"items":[{"tag":"#9U82JJ0Y","name":"TheAddictedOnes","rank":1,"previousRank":1,"location":{"id":57000249,"name":"United
        States","isCountry":true,"countryCode":"US"},"clanScore":10335,"members":46,"badgeId":16000139},{"tag":"#V2GQU","name":"Clash
        of Clams","rank":2,"previousRank":2,"location":{"id":57000249,"name":"United
        States","isCountry":true,"countryCode":"US"},"clanScore":8804,"members":46,"badgeId":16000139},{"tag":"#Y9202P9U","name":"Galactic
        Kings","rank":3,"previousRank":3,"location":{"id":57000249,"name":"United
        States","isCountry":true,"countryCode":"US"},"clanScore":8744,"members":48,"badgeId":16000015},{"tag":"#PPLCV9G2","name":"Elite
        Forcers","[...]
