interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/leaderboard/170000008?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#YQ0GJLR0\",\"name\":\"NairCaos\",\"rank\":1,\"score\":21037,\"clan\":{\"tag\":\"#QVJLUC89\",\"name\":\"FreeSuso\",\"badgeId\":16000035}},{\"tag\":\"#8GLU9V00\",\"name\":\"\u2665ROYALE
        TFT\u2665\",\"rank\":2,\"score\":19519,\"clan\":{\"tag\":\"#RQ2RPQPY\",\"name\":\"Unemployed\u2122\uFE0F\",\"badgeId\":16000110}},{\"tag\":\"#CQ8VUQCR2\",\"name\":\"WOS.INDONESIA\",\"rank\":3,\"score\":16707,\"clan\":{\"tag\":\"#Q9L9GRUQ\",\"name\":\"Wkwk
        Of Silent\",\"badgeId\":16000177}},{\"tag\":\"#2PRQQLCU0\",\"name\":\"Nova
        I Backhus\",\"rank\":4,\"score\":14633,\"clan\":{\"tag\":\"#GPUUPLLJ\",\"name\":\"RoWarlords
        IV\",\"badgeId\":16000020}},{\"tag\":\"#P0JPL9UL0\",\"name\":\"NotGVersus\",\"rank\":5,\"score\":13561,\"clan\":{\"tag\":\"#GRQPYJPJ\",\"name\":\"Wieczna
        Wojna\",\"badgeId\":16000004}},{\"tag\":\"#289QUJYLG\",\"name\":\"\u9A87\u5BA2\u2728RezonK\",\"rank\":6,\"score\":13463,\"clan\":{\"tag\":\"#GGVGPYR2\",\"name\":\"Graveyard
        Gang\",\"badgeId\":16000121}},{\"tag\":\"#C28LJU802\",\"name\":\"LF\u4E28Cormorant\u2764\uFE0FK\",\"rank\":7,\"score\":13294,\"clan\":{\"tag\":\"#YGVU2CPG\",\"name\":\"\u6E05\u98CE\u821E\u6A31\u96EA\uFF0C\u6D45\u51AC\u62B1\u96FE\u6708\",\"badgeId\":16000128}},{\"tag\":\"#CLRC9L8PG\",\"name\":\"Fan
        Gardieh YT\",\"rank\":8,\"score\":13259},{\"tag\":\"#CQ02LQ29\",\"name\":\"Ajerk\",\"rank\":9,\"score\":13219},{\"tag\":\"#9CQJQYP2\",\"name\":\"Xiake\",\"rank\":10,\"score\":12746,\"clan\":{\"tag\":\"#GLUR220V\",\"name\":\"YTXiake\u8077\u696DMT\u68CB\u9662\",\"badgeId\":16000092}}],\"paging\":{\"cursors\":{\"after\":\"eyJwb3MiOjEwfQ\"}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/leaderboard/170000008?after=eyJwb3MiOjEwfQ&limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#PG0Y9LU02\",\"name\":\"Queen\",\"rank\":11,\"score\":12301,\"clan\":{\"tag\":\"#8QGV882\",\"name\":\"Loser
        Nightmare\",\"badgeId\":16000024}},{\"tag\":\"#GQR0PYGQG\",\"name\":\"Jeremy\",\"rank\":12,\"score\":11835,\"clan\":{\"tag\":\"#RGPVVY9V[...]
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/leaderboard/170000008?after=eyJwb3MiOjIwfQ&limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#U8QGU00CP\",\"name\":\"Lapras\",\"rank\":21,\"score\":11126,\"clan\":{\"tag\":\"#Q02V9CPC\",\"name\":\"\u5C9A\u5E06\u7684\u77F3\u9505\u62CC\u996D\",\"badgeId\":16000001}},{\"tag\":\"#P09CR2CJ\",\"name\":\"miLTon\",\"rank\":22,\"score\":11111},{\"tag\"[...]
