interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/57000000/rankings/clans?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#99QQJY9C\",\"name\":\"Balkan Empire\",\"rank\":1,\"previousRank\":1,\"location\":{\"id\":57000000,\"name\":\"Europe\",\"isCountry\":false},\"clanScore\":118574,\"members\":50,\"badgeId\":16000022},{\"tag\":\"#QLCPU0JU\",\"name\":\"joblife\",\"rank\":2,\"previousRank\":2,\"location\":{\"id\":57000000,\"name\":\"Europe\",\"isCountry\":false},\"clanScore\":118462,\"members\":50,\"badgeId\":16000177},{\"tag\":\"#YYP22V9G\",\"name\":\"#global
        Family\",\"rank\":3,\"previousRank\":6,\"location\":{\"id\":57000000,\"name\":\"Europe\",\"isCountry\":false},\"clanScore\":117736,\"members\":50,\"badgeId\":16000168},{\"tag\":\"#2LJG2QY\",\"name\":\"CLAN
        OF CLASHES\",\"rank\":4[...]
