interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations?limit=10
  response:
    body:
      string: "{\"items\":[{\"id\":57000000,\"name\":\"Europe\",\"isCountry\":false},{\"id\":57000001,\"name\":\"North
        America\",\"isCountry\":false},{\"id\":57000002,\"name\":\"South America\",\"isCountry\":false},{\"id\":57000003,\"name\":\"Asia\",\"isCountry\":false},{\"id\":57000004,\"name\":\"Oceania\",\"isCountry\":false},{\"id\":57000005,\"name\":\"Africa\",\"isCountry\":false},{\"id\":57000006,\"name\":\"International\",\"isCountry\":false},{\"id\":57000007,\"name\":\"Afghanistan\",\"isCountry\":true,\"countryCode\":\"AF\"},{\"id\":57000008,\"name\":\"\xC5land
        Islands\",\"isCountry\":true,\"countryCode\":\"AX\"},{\"id\":57000009,\"name\":\"Albania\",\"isCountry\":true,\"countryCode\":\"AL\"}],\"paging\":{\"cursors\":{\"after\":\"eyJwb3MiOjEwfQ\"}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
