interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans/%232Q8CCP0/riverracelog?limit=5
  response:
    body:
      string: "{\"items\":[{\"seasonId\":128,\"sectionIndex\":2,\"createdDate\":\"20260126T094435.000Z\",\"standings\":[{\"rank\":1,\"trophyChange\":20,\"clan\":{\"tag\":\"#Y2C00222\",\"name\":\"Peaky
        Blinders\",\"badgeId\":16000037,\"fame\":10000,\"repairPoints\":0,\"finishTime\":\"20260125T094203.000Z\",\"participants\":[{\"tag\":\"#2L09J90JU\",\"name\":\"M4th3usBr_\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#ULYUG8G9L\",\"name\":\"Hanma\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#GQYG8UC2Q\",\"name\":\"\u26A1Vin\xEDcios\u26A1\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#CUVC99PVP\",\"name\":\"Daniel\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0,\"decksUsed\":0,\"decksUsedToday\":0},{\"tag\":\"#P8CPQPJ0\",\"name\":\"Ravieel\",\"fame\":0,\"repairPoints\":0,\"boatAttacks\":0[...]
