interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/57000094/pathoflegend/players?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#CPLGLPU80\",\"name\":\"Sosaa\u2764whit3\",\"expLevel\":69,\"eloRating\":3272,\"rank\":1,\"clan\":{\"tag\":\"#GPYUL82L\",\"name\":\"Vinland\",\"badgeId\":16000007}},{\"tag\":\"#UC0QJ2CU9\",\"name\":\"XCOM\u2764\uFE0FHypno\",\"expLevel\":70,\"eloRating\":3238,\"rank\":2,\"clan\":{\"tag\":\"#GRYGUG9V\",\"name\":\"YT
        : Hypno Cr\",\"badgeId\":16000052}},{\"tag\":\"#L8999VJC\",\"name\":\"CODE:
        Hypno\",\"expLevel\":80,\"eloRating\":3223,\"rank\":3},{\"tag\":\"#VLL8YQC9G\",\"name\":\"Hypno
        \u2764\uFE0F Jordan\",\"expLevel\":72,\"eloRating\":3218,\"rank\":4,\"clan\":{\"tag\":\"#GCRJLULL\",\"name\":\"Junkyard\",\"badgeId\":16000160[...]
