interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/global/seasons/2017-03/rankings/players?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#PGVYUPVJ\",\"name\":\"A\u2006k\u2006ro\u2006Nokia\",\"expLevel\":13,\"trophies\":6301,\"rank\":1,\"clan\":{\"tag\":\"#QPR92LC\",\"name\":\"50
        Kings\",\"badgeId\":16000146}},{\"tag\":\"#8J9JQ2JP\",\"name\":\"rmitchi\",\"expLevel\":13,\"trophies\":6298,\"rank\":2,\"clan\":{\"tag\":\"#20R88P\",\"name\":\"INDO
        ROYALE\",\"badgeId\":16000012}},{\"tag\":\"#99V2Y9QC\",\"name\":\"\u98CE\u5439\u9EA6\u6D6A\",\"expLevel\":13,\"trophies\":6291,\"rank\":3,\"clan\":{\"tag\":\"#LCVUYCR\",\"name\":\"Nova
        eSports\",\"badgeId\":16000044}},{\"tag\":\"#2QJG02VU\",\"name\":\"iamivan\",\"expLevel\":13,\"trophies\":6280,\"rank\":4,\"clan\":{\"tag\":\"#QPR92LC\",[...]
