interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/global/pathoflegend/2024-12/rankings/players?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#J0VU9CGP\",\"name\":\"Dominik\",\"expLevel\":66,\"eloRating\":3810,\"rank\":1,\"clan\":{\"tag\":\"#QCLGV8P0\",\"name\":\"Combatientes/sv\",\"badgeId\":16000171}},{\"tag\":\"#2YLRGVVC\",\"name\":\"Distrughy
        \u6BC0\u6EC5\u8005\",\"expLevel\":70,\"eloRating\":3808,\"rank\":2,\"clan\":{\"tag\":\"#GQP2GYYC\",\"name\":\"Romania
        Gods\",\"badgeId\":16000033}},{\"tag\":\"#UYL8820RJ\",\"name\":\"Flash Light\",\"expLevel\":66,\"eloRating\":3803,\"rank\":3,\"clan\":{\"tag\":\"#GL2VLUGY\",\"name\":\"Combatiente/Sv2\",\"badgeId\":16000171}},{\"tag\":\"#R29RYPURG\",\"name\":\"HJ
        Tanjiro\",\"expLevel\":64,\"eloRating\":3758,\"rank\":4,[...]
