interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans?name=Reddit&limit=5
  response:
    body:
      string: '{"items":[{"tag":"#V0JGPG2","name":"Reddit","type":"inviteOnly","badgeId":16000020,"clanScore":105923,"clanWarTrophies":2021,"location":{"id":57000006,"name":"International","isCountry":false},"requiredTrophies":4300,"donationsPerWeek":5598,"clanChestLevel":1,"clanChestMaxLevel":0,"members":42},{"tag":"#VUPR88","name":"reddit","type":"open","badgeId":16000027,"clanScore":105826,"clanWarTrophies":1660,"location":{"id":57000006,"name":"International","isCountry":false},"requiredTrophies":3000,"donationsPerWeek":3249,"clanChestLevel":1,"clanChestMaxLevel":0,"members":46},{"tag":"#P2PYYJY","name":"Reddit","type":"open","badgeId":16000128,"clanScore":102942,"clanWarTrophies":1583,"location":{"id":57000001,"name":"North
        America","isCountry":false},"requiredTrophies":6000,"donationsPerWeek":3120,"clanChestLevel":1,"clanChestMaxLevel":0,"members":45},{"tag":"#9VV89GP","name":"Reddit","type":"open","badgeId":16000019,"clanScore":95558,"clanWarTrophies":1810,"location":{"id":57000006,"name":"International","isCountry":false},"requiredTrophies":0,"donationsPerWeek":2258,"clanChestLevel":1,"clanChestMaxLevel":0,"members":42},{"tag":"#Q9RLGPVJ","name":"ReDDit","type":"open","badgeId":16000028,"clanScore":20367,"clanWarTrophies":0,"location":{"id":57000006,"name":"International","isCountry":false},"requiredTrophies":0,"donationsPerWeek":8,"clanChestLevel":1,"clanChestMaxLevel":0,"members":5}],"paging":{"cursors":{"after":"eyJwb3MiOjV9"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans?name=Legend&minMembers=40&limit=5
  response:
    body:
      string: '{"items":[{"tag":"#2GV8UGYP","name":"Legend","type":"open","badgeId":16000010,"clanScore":101363,"clanWarTrophies":2107,"location":{"id":57000047,"name":"Canada","isCountry":true,"countryCode":"CA"},"requiredTrophies":7000,"donationsPerWeek":3156,"clanChestLevel":1,"clanChestMaxLevel":0,"members":42},{"tag":"#8L8G0JUR","name":"legend","type":"open","badgeId":16000122,"clanScore":87382,"clanWarTrophies":1594,"location":{"id":57000017,"name":"Argentina","isCountry":true,"countryCode":"AR"},"requiredTrophies":3300,"donationsPerWeek":2384,"clanChestLevel":1,"clanChestMaxLevel":0,"members":49},{"tag":"#L2QY0Q8P","name":"Legend","type":"open","badgeId":16000146,"clanScore":110381,"clanWarTrophies":2145,"location":{"id":57000003,"name":"Asia","isCountry":false},"requiredTrophies":9000,"donationsPerWeek":5497,"clanChestLevel":1,"clanChestMaxLevel":0,"members":50},{"tag":"#20RUVCL","name":"LEGEND","type":"open","badgeId":16000142,"clanScore":106915,"clanWarTrophies":1725,"location":{"id":57000001,"name":"North
        America","isCountry":false},"requiredTrophies":8000,"donationsPerWeek":3348,"clanChestLevel":1,"clanChestMaxLevel":0,"members":41},{"tag":"#GPCC8VRP","name":"Legend","type":"open","badgeId":16000003,"clanScore":107676,"clanWarTrophies":2497,"location":{"id":57000249,"name":"United
        States","isCountry":true,"countryCode":"US"},"requiredTrophies":8000,"donationsPerWeek":7298,"clanChestLevel":1,"clanChestMaxLevel":0,"members":44}],"paging":{"cursors":{"after":"eyJwb3MiOjV9"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
