interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/locations/57000094/pathoflegend/players?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#2J9CR89\",\"name\":\"R\u2728Klaus\",\"expLevel\":80,\"eloRating\":2190,\"rank\":1,\"clan\":{\"tag\":\"#GRCULJRR\",\"name\":\"Stille
        Rache\u2122\uFE0F\",\"badgeId\":16000022}},{\"tag\":\"#CPLGLPU80\",\"name\":\"Sosaa\u2764whit3\",\"expLevel\":69,\"eloRating\":2126,\"rank\":2,\"clan\":{\"tag\":\"#J9VGU9CC\",\"name\":\"Sovereign\",\"badgeId\":16000133}},{\"tag\":\"#L8999VJC\",\"name\":\"CODE:
        Hypno\",\"expLevel\":80,\"eloRating\":2098,\"rank\":3},{\"tag\":\"#R09228V\",\"name\":\"SK
        Morten\",\"expLevel\":86,\"eloRating\":2049,\"rank\":4,\"clan\":{\"tag\":\"#G2PQYU8J\",\"name\":\"sahnenmann\",\"badgeId\":16000139}},{\"tag\":\"#UJU9UUJLC\",\"name[...]
