interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/tournaments/%232PP
  response:
    body:
      string: "{\"tag\":\"#2PP\",\"type\":\"passwordProtected\",\"status\":\"ended\",\"creatorTag\":\"#L9QGLRRV\",\"name\":\"persian
        heroes\",\"description\":\"\u062E\u0648\u0634 \u0627\u0648\u0645\u062F\u06CC\u0646
        \u0647\u0645\u06AF\u06CC \u060C \u0628\u0647 \u0627\u0645\u06CC\u062F \u067E\u06CC\u0631\u0648\u0632\u06CC\",\"levelCap\":0,\"firstPlaceCardPrize\":30,\"capacity\":42,\"maxCapacity\":50,\"preparationDuration\":7200,\"duration\":86400,\"createdTime\":\"20160704T091846.000Z\",\"startedTime\":\"20160704T093755.000Z\",\"membersList\":[{\"tag\":\"#RLJVRVG\",\"name\":\"amirabbas\",\"score\":537,\"rank\":1,\"clan\":{\"tag\":\"#P0R9GPC\",\"name\":\"\u0627\u06CC\u0631\u0627\u0646
        \u0637\u0631\u0634\u062A\",\"badgeId\":16000003}},{\"tag\":\"#9PGPUP9\",\"name\":\"mr.saber/>\",\"score\":487,\"rank\":2,\"clan\":{\"tag\":\"#282PPU\",\"name\":\"f@k\",\"badgeId\":16000029}},{\"tag\":\"#28CP9QC8\",\"name\":\"ANTI
        ARAB\",\"score\":442,\"rank\":3,\"clan\":{\"tag\":\"#RPR980\",\"name\":\"persian
        fighter\",\"badgeId\":16000024}},{\"tag\":\"#2YP99VGV\",\"name\":\"Abood7000\",\"score\":428,\"rank\":4,\"clan\":{\"tag\":\"#VU0QC2\",\"name\":\"UAE
        ALZAABI\",\"badgeId\":16000142}},{\"tag\":\"#2VL0LQLV\"[...]
