interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/tournaments?name=Test&limit=5
  response:
    body:
      string: '{"items":[{"tag":"#2QL8U20P","type":"open","status":"inProgress","creatorTag":"#PL88CG90V","name":"Torneio
        Teste","levelCap":11,"firstPlaceCardPrize":0,"capacity":1,"maxCapacity":10,"preparationDuration":3600,"duration":10800,"createdTime":"20260131T135117.000Z","gameMode":{"id":72000194}}],"paging":{"cursors":{}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
