interactions:
- request:
    body: ''
    headers:
      authorization:
      - DUMMY_API_KEY
    method: GET
    uri: https://proxy.royaleapi.dev/v1/clans/%232Q8CCP0/members?limit=10
  response:
    body:
      string: "{\"items\":[{\"tag\":\"#99Q9GJPRQ\",\"name\":\"Blow\",\"role\":\"elder\",\"lastSeen\":\"20260131T140706.000Z\",\"expLevel\":73,\"trophies\":12000,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":1,\"previousClanRank\":1,\"donations\":1086,\"donationsReceived\":520,\"clanChestPoints\":0},{\"tag\":\"#8LVYJVV2\",\"name\":\"Adrien\",\"role\":\"elder\",\"lastSeen\":\"20260131T115301.000Z\",\"expLevel\":68,\"trophies\":11792,\"arena\":{\"id\":54000132,\"name\":\"Summit
        of Heroes\",\"rawName\":\"Arena_L14\"},\"clanRank\":2,\"previousClanRank\":2,\"donations\":510,\"donationsReceived\":600,\"clanChestPoints\":0},{\"tag\":\"#2G0Y8Y9CP\",\"name\":\"Tangoledozo\",\"role\":\"elder\",\"lastSeen\":\"20260131T141802.000Z\",\"expLevel\":61,\"trophies\":11677,\"arena\":{\"id\":540001[...]
